<body>
    <header>
        <router-outlet></router-outlet>
       <br>    
        <section id="product1" class="section-p1">
        <div class="fe-box">
            <section id="product1" class="section-p1"></section>
            <img src="../assets/images/fashion.jpg" alt="">
            <h6></h6>
        </div>
        <h2>Furniture</h2>
        <p>(Home products)</p>
        <div class="pro-container">
        <div class="pro">
            <div class="card image-container">
            <img src="../assets/images/furniture7.jpg" alt="">
            </div>
            <div class="furniture">
                <span>Victoria</span>
                <h4>Cupboard</h4>
                <h5>(₹2000/-) 20% sale on this product.</h5>
                <h4>₹1800/-</h4>
            </div>
            <div class=""mt-3> 
                <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()"  routerLink="/product"> Buy Now</button>
            </div>
        </div>
        <div class="pro">
            <img src="../assets/images/furniture6.jpg" alt="">
            <div class="furniture">
                <span>Basic</span>
                <h4>Single Bed</h4>
                <h5>(₹3700/-) 10% sale on this product.</h5>
                <h4>₹3330/-</h4>
                <div class=""mt-3>
                    <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()" routerLink="/product"> Buy Now</button>
                </div>
</div>
</div>
        <div class="pro">
            <img src="../assets/images/furniture3.jpg" alt="">
            <div class="furniture">
                <span>Naverand</span>
                <h4>Coffee Table</h4>
                <h5>(₹5400/-) 30% sale on this product.</h5>
                <h4>₹3780/-</h4>
            </div>
            <div class=""mt-3>
                <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()" routerLink="/product"> Buy Now</button>
            </div>
        </div>
        <div class="pro">
            <img src="../assets/images/furniture4.jpg" alt="">
            <div class="furniture">
                <span>Naverand</span>
                <h4>Study Table</h4>
                <h5>(₹8500/- 30% sale on this product.</h5>
                <h4>₹5950/-</h4>
            </div>
            <div class=""mt-3>
                <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()" routerLink="/product"> Buy Now</button>
            </div>
        </div>
        <div class="pro">
            <img src="../assets/images/furniture5.jpg" alt="">
            <div class="furniture">
                <span>Classic Shan's</span>
                <h4>Sofa</h4>
                <h5>(₹5500/-) 10% sale on this product.</h5>
                <h4>₹4950/-</h4>
            </div>
            <div class=""mt-3>
                <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()" routerLink="/product"> Buy Now</button>
            </div>
        </div>
        </div>
    </section>
</header>
        <section id="feature">
            <div class="section-p1">
                <router-outlet></router-outlet>
            </div>
        </section>
</body>