<body>
       <header>
        <router-outlet></router-outlet>
       <br>
            <section id="product1" class="section-p1">
        <div class="fe-box">
            <section id="product1" class="section-p1"></section>
                <img src="../assets/images/fashion.jpg" alt="">
            <h6></h6>
        </div>
        <h2>Kids</h2>
        <p>(Kid Fashions)</p>
        <div class="pro-container">
        <div class="pro">           
            <div class="card image-container">
            <img src="../assets/images/kids2.jpg" alt="">
            </div>
            <div class="des">
                <span>Levi</span>
                <h4>T-shirt</h4>
                <h5>(₹2000/-) 20% sale on this product.</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>₹1800/-</h4>
            </div>
            <div class=""mt-3> 

                <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()"  routerLink="/product"> Buy Now</button>

            </div>

        </div>



       

        <div class="pro">

            <img src="../assets/images/kids1.jpg" alt="">

            <div class="des">

                <span>Pantaloons</span>

                <h4>New Noise Hoodie</h4>
                <h5>(₹3700/-) 10% sale on this product.</h5>

                <div class="star">

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                </div>

                <h4>₹3330/-</h4>

             

                <div class=""mt-3>

                    <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()" routerLink="/product"> Buy Now</button>

                </div>
</div>
</div>



        <div class="pro">

            <img src="../assets/images/kids pant.jpg" alt="">

            <div class="des">

                <span>Raymond</span>

                <h4>Track Pant</h4>
                <h5>(₹5400/-) 30% sale on this product.</h5>

                <div class="star">

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                </div>

                <h4>₹3780/-</h4>

            </div>

            <div class=""mt-3>

                <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()" routerLink="/product"> Buy Now</button>

            </div>

        </div>

        <div class="pro">

            <img src="../assets/images/kids3.jpg" alt="">

            <div class="des">

                <span>Zara</span>

                <h4>Frock</h4>
                <h5>(₹8500/-) 30% sale on this product.</h5>

                <div class="star">

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                </div>

                <h4>₹5950/-</h4>

            </div>

            <div class=""mt-3>

                <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()" routerLink="/product"> Buy Now</button>

            </div>

        </div>

        <div class="pro">

            <img src="../assets/images/kids4.jpg" alt="">

            <div class="des">

                <span>H&M</span>

                <h4>Frock</h4>
                <h5>(₹5500/-) 10% sale on this product.</h5>

                <div class="star">

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                    <i class="fas fa-star"></i>

                </div>

                <h4>₹4950/-</h4>

            </div>

            <div class=""mt-3>

                <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()" routerLink="/product"> Buy Now</button>

               

            </div>

        </div>

        </div>

        <div class="pro-container">
            <div class="pro">           
                <div class="card image-container">
                <img src="../assets/images/kids9.jpg" alt="">
                </div>
                <div class="des">
                    <span>Mickey</span>
                    <h4>Slippers</h4>
                    <h5>(₹5400/-) 20% sale on this product.</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹3780/-</h4>
                </div>
                <div class=""mt-3> 
    
                    <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()"  routerLink="/product"> Buy Now</button>
    
                </div>
    
            </div>
    
    
    
           
    
            <div class="pro">
    
                <img src="../assets/images/kids5.jpg" alt="">
    
                <div class="des">
    
                    <span>Adidas</span>
    
                    <h4>Casual Shoes</h4>
                    <h5>(₹3700/-) 10% sale on this product.</h5>
    
                    <div class="star">
    
                        <i class="fas fa-star"></i>
    
                        <i class="fas fa-star"></i>
    
                        <i class="fas fa-star"></i>
    
                        <i class="fas fa-star"></i>
    
                        <i class="fas fa-star"></i>
    
                    </div>
    
                    <h4>₹3330/-</h4>
    
                 
    
                    <div class=""mt-3>
    
                        <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()" routerLink="/product"> Buy Now</button>
    
                    </div>
    </div>
    </div>
    
    
    
            <div class="pro">
    
                <img src="../assets/images/kids6.jpg" alt="">
    
                <div class="des">
    
                    <span>Rainbow</span>
    
                    <h4>Watch</h4>
                    <h5>(₹5000/-) 20% sale on this product.</h5>
    
                    <div class="star">
    
                        <i class="fas fa-star"></i>
    
                        <i class="fas fa-star"></i>
    
                        <i class="fas fa-star"></i>
    
                        <i class="fas fa-star"></i>
    
                        <i class="fas fa-star"></i>
    
                    </div>
    
                    <h4>₹4000/-</h4>
    
                </div>
    
                <div class=""mt-3>
    
                    <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()" routerLink="/product"> Buy Now</button>
    
                </div>
    
            </div>
    
            <div class="pro">
    
                <img src="../assets/images/kids7.jpg" alt="">
    
                <div class="des">
    
                    <span>Zara</span>
    
                    <h4>Digital Watch</h4>
                    <h5>(₹10000/-) 30% sale on this product.</h5>
    
                    <div class="star">
    
                        <i class="fas fa-star"></i>
    
                        <i class="fas fa-star"></i>
    
                        <i class="fas fa-star"></i>
    
                        <i class="fas fa-star"></i>
    
                        <i class="fas fa-star"></i>
    
                    </div>
    
                    <h4>₹6000/-</h4>
    
                </div>
    
                <div class=""mt-3>
    
                    <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()" routerLink="/product"> Buy Now</button>
    
                </div>
    
            </div>
    
            <div class="pro">
    
                <img src="../assets/images/kids8.jpg" alt="">
    
                <div class="des">
    
                    <span>Watchex</span>
    
                    <h4>Smart Watch</h4>
                    <h5>(₹5500/-) 10% sale on this product.</h5>
    
                    <div class="star">
    
                        <i class="fas fa-star"></i>
    
                        <i class="fas fa-star"></i>
    
                        <i class="fas fa-star"></i>
    
                        <i class="fas fa-star"></i>
    
                        <i class="fas fa-star"></i>
    
                    </div>
    
                    <h4>₹4950/-</h4>
    
                </div>
    
                <div class=""mt-3>
    
                    <button mat-raised-button color="warn" style="width: 100px" (click)="productopen()" routerLink="/product"> Buy Now</button>
    
                   
    
                </div>
    
            </div>

            
    
            </div>

            
    
           
       

    </section>





   

   

</header>
    
        <section id="feature">
    
            <div class="section-p1">
    
                <router-outlet></router-outlet>
    
            </div>
    
        </section>

</body>