<body>
<div class="bg">
    <div id="brand" class="fm">Shopsy
        <!--<mat-form-field apperance="outline" class="w-90">
        <mat-label>Search any product</mat-label>
        <input matInput
               ngModel
               name="searchkey"
               id="searchkey"
               placeholder="Search any product">
        <mat-hint>Search any product</mat-hint>
        </mat-form-field>
    </div>-->
    
    <h2>CATEGORY</h2><br><br>

   <div class = row>
    <button class="button button1" routerLink="/men">MEN</button><br><br><br>
    <button class="button button2" routerLink="/women">WOMEN</button><br><br><br>
    <button class="button button3" routerLink="/kids">KIDS</button><br><br><br>
    <button class="button button4" routerLink="/furniture">FURNITURE</button><br><br><br>
    <button class="button button5" routerLink="/mobiles">MOBILES</button><br><br><br>
</div>
</div>

    <div >
    
                <router-outlet></router-outlet>
    
            </div>
    
        

</body>